*.iml
.gradle
.idea
.DS_Store
/build
/captures
.externalNativeBuild
libs/
src/main/java/com/sl/shenmian/lib/net/exception/
src/main/java/com/sl/shenmian/lib/ui/widget/
src/main/java/com/sl/shenmian/lib/utils/math/
src/main/java/com/sl/shenmian/module/historyrecord/
src/main/java/com/sl/shenmian/module/main/source/
src/main/java/com/sl/shenmian/module/scansearch/
src/main/java/com/sl/shenmian/module/settings/
src/main/java/com/sl/shenmian/module/storeinstorage/
src/main/java/com/sl/shenmian/module/wareinstorage/
src/main/java/com/sl/shenmian/module/wareoutstorage/
local.properties